node_modules
dist/*
!dist/index.js
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.log
*.txt
.idea/
ios/App/App/public/
android/app/build/
.env
.env.local
.env.*.local
firebase-service-account.json
